<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvn="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--开启扫描注释-->
    <context:component-scan base-package="org.shunly.application.controller"/>

    <!--使用默认的Servlet来响应静态资源-->
    <mvn:default-servlet-handler/>

    <!--自动注册 DefaultAnnotationHandlerMapping和AnnotationMethodHandlerAdapter
    提供一系列：数据绑定，数字和日期的format @NumberFormat，@DataTimeFormat,
         xml,json默认读写支持-->
    <mvn:annotation-driven/>

    <!--aop注解模式-->
    <aop:aspectj-autoproxy/>

    <bean id="jspView" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--<mvc:annotation-driven>-->
        <!--&lt;!&ndash; 消息转换器,解决responseBody返回中外乱码问题 &ndash;&gt;-->
        <!--<mvc:message-converters register-defaults="true">-->
            <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
                <!--<property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />-->
            <!--</bean>-->
        <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->
</beans>